.three-random-campaigns-container {
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  padding-bottom: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top: 20px;
}

.three-random-campaigns-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
}

.campaign-card-link {
  text-decoration: none;
  color: inherit;
}

.three-random-campaign-card {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  background-color: #454545;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
  min-width: 300px;
  max-width: 100%;
  cursor: pointer;
  height: 100%;
}

.three-random-owner-profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.three-random-owner-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.three-random-campaign-name {
  font-size: 1.1rem;
  font-weight: bold;
}

.three-random-campaigns-button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 20px;
}

.refresh-button,
.view-all-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 48%;
}

.refresh-button {
  background-color: #4caf50;
  color: white;
}

.refresh-button:hover {
  background-color: #45a049;
}

.view-all-button {
  background-color: #345e37;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-all-button:hover {
  background-color: #8fbc8f;
}

@media screen and (max-width: 768px) {
  .three-random-campaigns-grid {
    grid-template-columns: 1fr; /* One column for smaller screens */
    gap: 15px;
  }

  .three-random-campaign-card {
    min-width: auto; /* Adjust the width for smaller screens */
  }

  .three-random-campaigns-button {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
    gap: 10px;
  }

  .refresh-button,
  .view-all-button {
    width: 100%; /* Full width buttons on smaller screens */
    font-size: 14px; /* Adjust font size for buttons */
  }
}

/* Media query for very small screens like mobile phones */
@media screen and (max-width: 480px) {
  .three-random-campaign-card {
    padding: 8px;
    font-size: 0.9rem; /* Slightly smaller font */
    display: none;
  }

  .three-random-owner-profile,
  .three-random-owner-avatar {
    height: 40px;
    width: 40px; /* Smaller profile image */
  }

  .three-random-campaign-name {
    font-size: 1rem; /* Smaller font for mobile */
  }

  .refresh-button,
  .view-all-button {
    padding: 8px 16px; /* Smaller padding for mobile */
  }
}
