.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  /* border: 1px solid red; */
}

@media (max-width: 768px) {
  .welcome-container {
    /* height: auto;  */
    /* height: 100dvh; */
    height: calc(100dvh - 70px - 44px);
    padding: 40px 20px; /* Extra padding on smaller screens for better layout */
  }
}
