/* ProgressBar.css */
.progress-bar-container {
  width: 100%;
  background-color: #e0e0df;
  border-radius: 5px;
  margin: 10px 0;
  height: 20px;
  position: relative;
  border: 1px solid #333333;
  position: relative;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.5s ease-in-out;
}

.progress-text {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.min-target-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: red; /* Red line for the target */
  display: flex;
  align-items: center;
}

.min-text {
  position: absolute;
  top: -25px; /* Position the percentage text above the line */
  color: red;
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .progress-bar-container {
    height: 18px; /* Slightly smaller height */
  }

  .progress-text {
    font-size: 14px; /* Reduce text size */
  }

  .min-text {
    font-size: 11px; /* Smaller font for target text */
    top: -20px; /* Adjust positioning */
  }
}

/* Mobile screens */
@media (max-width: 768px) {
  .progress-bar-container {
    height: 16px; /* Smaller height */

    width: 95%;
  }

  .progress-text {
    font-size: 13px;
  }

  .min-text {
    font-size: 10px;
    top: -18px;
  }
}

/* Small mobile screens */
@media (max-width: 480px) {
  .progress-bar-container {
    height: 14px; /* Further reduced height */

    width: 90%;
  }

  .progress-text {
    font-size: 12px; /* Smaller font size */
  }

  .min-text {
    font-size: 9px;
    top: -15px;
  }
}
