/* Base styles for the bottom nav bar */
.bottom-nav-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* White background for the navbar */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  transition: transform 0.3s ease;
  z-index: 1000;
  border-top: 2px solid #28a745; /* Top border */
}

.bottom-nav-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.bottom-nav-links {
  color: #333; /* Dark color for inactive icons */
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  position: relative;
}

/* Style for the active nav item */
.bottom-nav-links.active {
  color: #28a745; /* Blue color for active icons */
}

.bottom-nav-links.active .nav-icon {
  color: #28a745;
}

/* Green circle indicator for the active link */
.bottom-nav-links.active::after {
  content: "";
  position: absolute;
  bottom: -8px; /* Adjust the position below the icon */
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: #28a745; /* Green color */
  border-radius: 50%;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-icon {
  font-size: 1.2em;
  color: inherit; /* Inherit color for active/inactive state */
}

/* Centered Scan Icon */
.scan-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28a745; /* Blue background for scan icon */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 20px;
}

.scan-icon-link {
  color: #fff;
}

.scan-icon {
  font-size: 1.5em;
  color: #fff;
}

/* Responsive styling */
@media (min-width: 768px) {
  .bottom-nav-container {
    display: none;
  }
}
