/* .page-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.left-section {
  width: 65%; 
  overflow-y: auto;
}

.right-section {
  width: 30%;
  position: sticky;
  top: 20px; 
}

.content {
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.scroll-content {
  height: 1000px; 
  padding: 10px;
  background-color: #eaeaea;
} */

.campaign-details-container {
  padding: 20px;
  /* min-height: 100dvh; */
  background-color: #dff5e1;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  height: 100%;
}

.campaign-details-top {
  display: flex;
  justify-content: space-between; /* Makes sure left and right are spaced apart */
  align-items: flex-start; /* Aligns top of both columns */
  background-color: #dff5e1;
  /* min-height: 100vh; */
}

.campaign-details-top-left {
  width: 65%; /* Width of the left side */
  /* overflow-y: auto; */
  height: 100%;
}

.campaign-details-top-right {
  width: 30%; /* Width of the right side */
  position: sticky;
  top: 20px; /* Stays 20px from the top of the viewport when scrolling */
}

.content {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.scroll-content {
  height: 1000px; /* Just for example to show a long scrollable area */
  background-color: #eaeaea;
}
